body,
main,
h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.informartions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
